.card {
  position: relative;
}

.card div {
  width: 100px;
  height: 100px;
}

.card .front,
.card .back {
  border: 2px solid white;
  border-radius: 12px;
  background: white;
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .front {
  transform: rotateY(90deg);
}

.flipped .front {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(90deg);
}

.card .back {
  background: #4b6cb7;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .card div,
  .card .front,
  .card .back {
    width: 70px;
    height: 70px;
    font-size: 28px;
  }
}